*
{
    margin:20px;
    padding:2px;
}
body
{
	background-image: url('imagenes/f.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	font-family: Bahnschrift, Comic Sans MS, "Arial";
	position:relative;
}
#ENCABEZADO
{
    text-align:center;
    color:white;
	font-size:40px;
	width:400px;
	margin:6px auto;	
}
#CONTENIDO
{
	width:400px;
	margin:6px auto;
	color:white;
		
}
#PIE
{
    text-align:center;
    width: 600px;
    margin: 6px auto;
    color: white;
	font-size:25px;
}

h1
{
	display:inline-block;
	position:relative;
}
h1::after,h1::before
{
	content:'';
	position:absolute;
	width:50px;
	height:5px;
	background-color:white;
	top:0.6em;
}
h1::before
{
	left:-70px;
}
h1::after
{
	right:-70px;
}

#VENTAS
{
    color:white;
	width:400px;
	margin:6px auto;
	font-size:40px;
}
h2
{
	font-size:30px;
}
table
{
	text-align:center;
	position:absolute;
	left:200px;
	width:500px;
	color:white;
	font-size:20px;
}
table td:hover
{
	background:#495057;
}
